body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Vertical stacking ke liye */
    align-items: center; /* Horizontal centering ke liye */
}

#Box1 {
    width: 1280px;
    height: 225px;
    background-color: white;
    align-items: center;

    h1{
        margin-top: 100px;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }
    p{
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
    
}


#Box2 {
    width: 1280px;
    height: 740px;
    background-color: #F8FAFC;
    #Indiv {
        width: 680px;
        height: 680px;
        margin-left: 320px;
        margin-top: 75px;
        h2{
            font-weight: 600;
            font-family: 'Inter',sans-serif;
        }
        p{
            font-family: 'Inter',sans-serif;
            font-weight: 400;
        }
        ol{
            font-family: 'Inter',sans-serif;
            font-weight: 400;
        }
    }
}
#Box2 #Indiv #Part {
    margin-top: 50px;
    width: 680px;
    height: 1px;
    background-color: #D2D5DA;
    display: flex;
}
ul{
   font-family: 'Inter',sans-serif;
   font-weight: 400;
}
a{
    text-decoration: none;
}




